.DS_Store
.idea
*.vcd
*.bin
*.dump
runs
tt_submission
src/user_config.json
src/config_merged.json
test/sim_build
test/__pycache__/
test/results.xml
test/gate_level_netlist.v
/local/
/ris-test/obj_dir/
/tools/show-asm/obj_dir/
